option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    APP_KEY: base64:Uli/emaEwYZKgi5NHld5DoIO5tRlT1z2mkGolv1232U=
    APP_URL: http://colegio-app.us-east-1.elasticbeanstalk.com
    DB_CONNECTION: mysql
    DB_HOST: colegio-db.c63ie4cm8sk1.us-east-1.rds.amazonaws.com
    DB_PORT: 3306
    DB_DATABASE: colegio-db
    DB_USERNAME: admin
    DB_PASSWORD: Colegio2024!
    CACHE_DRIVER: file
    SESSION_DRIVER: file
    QUEUE_DRIVER: sync
    LOG_CHANNEL: stack
    LOG_LEVEL: error
